@font-face {
	font-family: 'Galano Grotesque';
	src: url('../fonts/Galano Grotesque Alt Bold.otf');
}

@font-face {
	font-family: 'Avenir Next Medium';
	src: url('../fonts/AvenirNextCyr-Medium.eot');
	src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'),
		url('../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextCyr-Medium.woff') format('woff'),
		url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Demi';
	src: url('../fonts/AvenirNextCyr-Demi.eot');
	src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'),
		url('../fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextCyr-Demi.woff') format('woff'),
		url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Bold';
	src: url('../fonts/AvenirNextCyr-Bold.eot');
	src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'),
		url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
		url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body{
  margin: 0px;
  padding: 0px;
  /* min-width: 1024px; */
}
.fixed{
    position: absolute !important;
    z-index: 1;
    width: 20% !important;
}
.dnone{
	display: block !important;
}
.header{
	width: 100%;
	height: 85px;
	position: fixed;
	display: block;
	background-color: rgba(255,253,247,0.3);
	z-index: 101;
}

.hdl{
  display: block;
  float: left;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 40px;
	font-family: 'Avenir Next Bold';
}

.hdr{
  display: block;
  float: right;
	font-size: 20px;
	margin-top: 20px;
	margin-right: 50px;
	font-family: 'Avenir Next Bold';
	border: solid;
	border-width: 1px;
	padding: 10px;
	border-radius: 10px;
	border-color: rgba(0,0,0,0.4);
}
.hdr:hover{
	border: none;
	border-radius: 10px;
	background-color: black;
	color: white;
}

.hdl ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hdl ul li{
  display: inline;
	padding: 10px 20px;
	cursor: pointer;
}
.hdl ul li:hover{
  background-color: black;
	color: white;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.logo1{
  display: block;
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
	top: 15px;
  text-align: center;
  font-family: 'Galano Grotesque';
  font-size: 32px;

	background: linear-gradient(272deg, #2bbeea, #74e9b1);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo2{
  display: none;
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
	top: 15px;
  text-align: center;
  font-family: 'Galano Grotesque';
  font-size: 32px;

	background: linear-gradient(272deg, #e4d01d, #eb592a);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo3{
  display: none;
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
	top: 15px;
  text-align: center;
  font-family: 'Galano Grotesque';
  font-size: 32px;

	background: linear-gradient(272deg, #E22EE5, #E89E74);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo3_2{
	background-image: linear-gradient(272deg, #89BD1A, #D5ABFF) !important;
}
.logo3_3{
	background-image: linear-gradient(272deg, #BD4B1A, #E5D32E) !important;
}
.logo3_4{
	background-image: linear-gradient(272deg, #229BF2, #2EE5A3) !important;
}
.logo3_5{
	background-image: linear-gradient(272deg, #B81DD1, #36FF56) !important;
}
.logo3_6{
	background-image: linear-gradient(272deg, #1DD1A6, #F2B516) !important;
}

.logo4{
  display: none;
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
	top: 15px;
  text-align: center;
  font-family: 'Galano Grotesque';
  font-size: 32px;

	background: linear-gradient(272deg, #E4D01D, #2A8FEB);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mn{
	display: block;
	overflow: hidden;
    position: relative;
	width: 100%;
	height: 100vh;
	background-color: #FFFDF7;
	z-index: 2;
}

.mn_t{
	opacity: 0;
	width: 1024px;
	text-align: center;
	margin: auto;
	padding-top: 250px;
	font-family: 'Avenir Next Bold';
}

.mn_t_3{
	opacity: 0;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 250px;
	font-family: 'Avenir Next Bold';
}

.mn_h{
  font-size: 70px;

	background: linear-gradient(272deg, #2bbeea, #74e9b1);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mn_h_3{
	font-size: 70px;

	background: linear-gradient(272deg, #E22EE5, #E89E74);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mn_l{
	margin: auto;
	width: 800px;
	font-family: 'Avenir Next Demi';
	font-size: 22px;
	margin-top: 10px;
}

.ph_img{
	display: block;
	opacity: 0;
	margin: auto;
	margin-top: 200px;
	width: 1000px;
}
.ph_img_1{
	display: none;
	position: absolute;
    width: 1024px;
    left: 50%;
    margin-left: -512px;
    z-index: 0;
    top: 30vh;
}

.ph_img_3{
	display: block;
    opacity: 0;
    margin: auto;
    width: 93vh;
    top: 650px;
    position: absolute;
    left: 50%;
    margin-left: -46.5vh;
}

.mn2{
	width: 100%;
	height: 100vh;
	background-color: #FFF4F2;
	overflow: hidden;
	z-index: 2;
	position: relative;
}

.mn2b{
	display: block;
	position: relative;
	width: 840px;
	margin: auto;
	height: 500px;
	padding-top: 300px;
	opacity: 0;
}
.mn2bl{
	width: 500px;
	display: block;
	float: left;
	background-color: #FFF4F2;
}

.mn2blt1{
	font-family: 'Avenir Next Bold';
	font-size: 70px;

	background: linear-gradient(272deg, #e4d01d, #eb592a);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mn2blt2{
	font-family: 'Avenir Next Bold';
	font-size: 20px;
	padding-top: 30px;
}

.mn2br{
	position: absolute;
	width: 1024px;
	margin-top: -240px;
	margin-left: -340px;
}

.mn4{
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
	background-color: #FFFFFF;
	z-index: 100;
}
.mn4b{
	display: block;
	position: relative;
	width: 840px;
	margin: auto;
	padding-top: 250px;
	opacity: 0;
	min-height: 350px;
}

.mn4bl{
	position: absolute;
	width: 700px;
	margin-left: -80px;
	margin-top: -120px;
	z-index: -1;
}

.mn4br{
	display: block;
	float: right;
	width: 500px;
}

.mn4brt1{
	font-family: 'Avenir Next Bold';
	font-size: 70px;

	background: linear-gradient(272deg, #E4D01D, #2A8FEB);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mn4brt1_em{
	display: none;
	font-family: 'Avenir Next Bold';
	font-size: 70px;

	background: linear-gradient(272deg, #E4D01D, #2A8FEB);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mn4brt2{
	font-family: 'Avenir Next Bold';
	font-size: 20px;
	padding-top: 30px;
}

.form{
	margin-top: 20px;
}

.form input{
	border: solid 1.5px #A8A8A8;
	padding: 20px 10px;
	border-radius: 10px;
	font-family: 'Avenir Next Bold';
	width: 420px;
	/*
-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.36);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.36);
*/
	font-size: 16px;
	color: rgba(0,0,0,0.8);
}

.fm_bt{
	margin-top: 20px;
	width: 440px;
	padding: 20px 0px;
	text-align: center;
	color: white;
	background-color: #2B51D6;
	border-radius: 10px;
	border-width: 1px;
	font-family: 'Avenir Next Bold';
	font-size: 18px;
	letter-spacing: 2px;
	cursor: pointer;
}
.ft a {
    color: #fff;
}
.footer{
	width: 100%;
	height: 80px;
	background: linear-gradient(270deg, #e3cf1e, #2a8feb);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 16s ease infinite;
	-moz-animation: AnimationName 16s ease infinite;
	animation: AnimationName 16s ease infinite;
	color: white;
	position: absolute;
	z-index: 100;
}
.footer ul{
	padding-top: 32px;
	padding-left: 30px;
  margin: 0;
  list-style-type: none;
	font-family: 'Avenir Next Bold';
	font-size: 18px;
}
.footer li:first-child{
	font-family: 'Avenir Next Medium';
}
.footer li{
	display: inline;
	padding: 10px 20px;
	cursor: pointer;
}




.mn_cont{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-color: #fff;
}
.mn3_cont{
	position: relative;
	width: 500%;
	height: 100%;
	background-color: #F2F6FF;
}
.mn3{
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 20%;
	height: 100%;
	background-color: #F2FFF3;
	z-index: 2;
}

.mn3b{
	display: block;
	position: relative;
	width: 1000px;
	margin: auto;
	height: 500px;
	padding-top: 250px;
	opacity: 0;
}

.mn3bl{
	position: absolute;
	width: 700px;
	margin-left: -20px;
	margin-top: -120px;
}

.mn3br{
	display: block;
	float: right;
	width: 500px;
}

.mn3brt1{
	font-family: 'Avenir Next Bold';
	font-size: 70px;

	background: linear-gradient(272deg, #E4D01D, #2A8FEB);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mn3brt2{
	font-family: 'Avenir Next Bold';
	font-size: 20px;
	padding-top: 30px;
}
.mn3_2{
	position: absolute;
	top: 0;
	left: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.mn3_2_img img {
		width: 93vh;
    margin: 0px auto;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -46.5vh;
    bottom: 2px;
    z-index: 2;
}

.mn3_2_bullet {
    width: 290px;
    height: 115px;
    background: #fff;
    position: absolute;
    z-index: 0;
    padding: 20px;
    border-radius: 20px;
    top: 30vh;
    right: 50%;
    margin-right: 22vh;
    box-sizing: border-box;
}
.mn3_2_bullet div {
    text-align: left;
    font-family: 'Galano Grotesque';
    font-size: 20px;
    line-height: 25px;
    background: linear-gradient(272deg, #89BD1A, #D5ABFF);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mn3_3{
	position: absolute;
	top: 0;
	left: 20%;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.mn3_3_img img {
	width: 93vh;
	margin: 0px auto;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -46.5vh;
	bottom: 2px;
	z-index: 2;
}


.mn3_3_bullet{
	width: 290px;
    height: 115px;
    background: #fff;
    position: absolute;
    z-index: 0;
    padding: 20px;
    border-radius: 20px;
    top: 30vh;
    left: 50%;
    margin-left: 22vh;
    box-sizing: border-box;
}    
    
.mn3_3_bullet div{
	text-align: left;
	font-family: 'Galano Grotesque';
	font-size: 20px;
	line-height: 25px;
	background: linear-gradient(272deg, #BD4B1A, #E5D32E);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



.mn3_4{
	position: absolute;
	top: 0;
	left: 40%;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.mn3_4_img img {
	width: 93vh;
	margin: 0px auto;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -46.5vh;
	bottom: 2px;
	z-index: 2;
}

.mn3_4_bullet{
	width: 290px;
    height: 115px;
    background: #fff;
    position: absolute;
    z-index: 0;
    padding: 20px;
    border-radius: 20px;
    top: 50vh;
    left: 50%;
    margin-left: 22vh;
    box-sizing: border-box;
}   
.mn3_4_bullet div{
	text-align: left;
	font-family: 'Galano Grotesque';
	font-size: 20px;
	line-height: 25px;
	background: linear-gradient(272deg, #229BF2, #2EE5A3);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.mn3_5{
	position: absolute;
	top: 0;
	left: 60%;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.mn3_5_img img {
	width: 93vh;
	margin: 0px auto;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -46.5vh;
	bottom: 2px;
	z-index: 2;
}

.mn3_5_bullet{
	width: 290px;
    height: 115px;
    background: #fff;
    position: absolute;
    z-index: 0;
    padding: 20px;
    border-radius: 20px;
    top: 50vh;
    right: 50%;
    margin-right: 22vh;
    box-sizing: border-box;
}  
.mn3_5_bullet div{
	text-align: left;
	font-family: 'Galano Grotesque';
	font-size: 20px;
	line-height: 25px;
	background: linear-gradient(272deg, #B81DD1, #36FF56);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}




.mn3_6{
	position: absolute;
	top: 0;
	left: 80%;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.mn3_6_img img {
	width: 93vh;
	margin: 0px auto;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -46.5vh;
	bottom: 2px;
	z-index: 2;
}

.mn3_6_bullet{
	width: 290px;
    height: 140px;
    background: #fff;
    position: absolute;
    z-index: 0;
    padding: 20px;
    border-radius: 20px;
    bottom: 30vh;
    right: 50%;
    margin-right: 22vh;
    box-sizing: border-box;
}
.mn3_6_bullet div{
	text-align: left;
	font-family: 'Galano Grotesque';
	font-size: 20px;
	line-height: 25px;
	background: linear-gradient(272deg, #1DD1A6, #F2B516);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.cl_phone{
	position: fixed;
    display: none;
    z-index: 1;
    width: 130vh;
    margin: 0px auto;
    left: 50%;
    margin-left: -65vh;
    bottom: 0px;
    top: -9%;
}

.inp_em{
	outline:none;
}
img.arf {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    bottom: 50px;
    right: 50px;
}
img.arb {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    bottom: 50px;
    left: 50px;
}
.arfm{
	display: none;
    position: absolute;
    width: 16px;
    cursor: pointer;
    right: 30px;
    top: 50%;
    cursor: pointer;
    z-index: 10;
}
.arbm{
	display: none;
    position: absolute;
    width: 16px;
    cursor: pointer;
    left: 30px;
    top: 50%;
    cursor: pointer;
    z-index: 10;
}
@media screen and (max-width: 1024px) {
	.mn_t{
		width: 95%;
	}
	.mn_l{
		width: 80%;
	}
	.ph_img{
		width: 100%;
	}
}
@media screen and (max-width: 900px) {
	.bullet{
		bottom: 50px !important;
	    top: initial;
	    right: initial;
	    margin-left: -145px;
	    left: 50%;
	    z-index: 5;
	    box-shadow: rgba(0,0,0,0.1) 0px 4px 80px;
	}
}
@media screen and (max-width: 840px) {
	.mn4b{
		width: 500px;
	}
	.mn4bl{
		display: none;
	}
	.mn2b{
		height: 100%;
		width: 100%;
	}
	.mn2bl{
	    z-index: 1;
	    position: absolute;
	    top: 30%;
	    left: 50%;
	    margin-left: -250px;
        bottom: 0px;
        text-align: center;
        padding-top: 20px;
	}
	.mn2br {
	    left: 50%;
	    margin-left: -512px;
	    z-index: 0;
	    bottom: 50%;
	    margin-bottom: -200px;
	}
	.hdl,.hdr{
		display: none;
	}
	.header div{
		left: 30px;
	    margin-left: 0px;
	    line-height: 50px;
	    top: 0px;
	    font-size: 24px;
	    text-align: left;
	}
	.mn_t {
	    padding-top: 70px !important;
	}
	.ph_img{
		display: none;
	}
	.ph_img_1{
		display: block;
	}
	.header{
		height: 50px;
	}
	
	.form{
		bottom: inherit;
	}
	
	.mn_h,.mn2blt1,.mn_h_3,.mn4brt1,.mn4brt1_em{
		font-size: 40px;
	}
	.mn_l,.mn2blt2{
		font-size: 16px;
	}
}
@media screen and (max-width: 840px) and (max-height: 400px){
	.mn2bl{
		top: 0px;
		padding-top: 70px;
	}
}
@media screen and (max-width: 520px) {
	img.arb,img.arf{
		display: none;
	}
	.arbm,.arfm{
		display: block;
	}
	.mn2bl {
	    z-index: 1;
	    position: absolute;
	    top: 20%;
	    left: 0px;
	    width: 100%;
	    padding-left: 5%;
	    padding-right: 5%;
	    padding-top: 10px;
	    max-width: 500px;
	    margin: 0px auto;
	    box-sizing: border-box;
	    text-align: center;
	}
	.mn4b{
		width: 90%;
		padding-top: 70px !important;
	}
	.mn4br{
		width: 100%;
	}
	.form{
	    width: 100%;
	}
	.form input{
	    width: 100%;
	    box-sizing: border-box;
	}
	.fm_bt{
		width: 100%;
	}
}
@media screen and (max-height: 600px){
	.mn_h,.mn2blt1,.mn_h_3,.mn4brt1,.mn4brt1_em{
		font-size: 40px;
	}
	.mn_l,.mn2blt2{
		font-size: 16px;
	}
}
